$text_size: 0.7em;
$primary_red: #d84037;
$secondary_red: #b6362e;
$primary_grey: #8d8d8d;
$secondary_grey: #6c6c6c;


* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Noto Serif', serif;
}

.body {

}

.container {
  max-width: 840px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;

  .nav__item {
    position: relative;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
    .nav__link {
      text-decoration: none;
      color: #000;
      font-size: 1em;
      font-weight: 700;

      &:before {
        content: '';
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -29px;
        left: 0;
        background: $primary_red;
        transition: all .2s;
        opacity: 0;
      }

      &:hover {
        color: $secondary_grey;

        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.section {
  &-welcome {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    margin-bottom: 20px;
  }

  &-about {
    display: flex;
    flex-direction: column;
  }
}

.welcome {
  &__img {
    margin: 15px 10px 10px 25px;
  }

  &__descr {
    margin: 15px 25px 10px 10px;
  }

  &__title {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 5px;
  }

  &__text {
    font-size: $text_size;
    color: $primary_grey;
    line-height: 1.7;
    margin-bottom: 15px;
  }
  
  &__button {
    font-size: $text_size;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(180deg, $primary_red, $secondary_red);
    border: none;
    border-radius: 2px;
    padding: 5px 25px;

    &:hover,
    &:active {
      box-shadow: 0 0 2px darkred;
      text-shadow: 0 0 1px #fff;
      transition: .2s;
    }
  }

  ._flex-end {
    display: flex;
    align-items: end;
  }
}

.article {
  &__title {
    margin-bottom: 5px;
  }

  &__text {
    font-size: $text_size;
    color: $primary_grey;
    line-height: 1.7;
    margin-bottom: 15px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 35px;
  }
}

.icons {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 180px;
    width: 100%;
    padding: 5px 10px;
  }

  &__img {
    margin-right: 15px;
  }

  &__label {
    font-style: italic;
    font-size: $text_size;
  }
}

.footer {
  height: 100px;
}

@media (max-width: 992px) {
  .container {
    max-width: 730px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 550px;
  }

  .section {
    &-welcome {
      flex-direction: column;
    }
  }

  .welcome {
    &__img,
    &__descr {
      margin: 15px 10px 10px 10px;

      img {
        width: 100%;
      }
    }
  }

  .article {
    &__icons {
      flex-wrap: wrap;
    }
  }

  .icons {
    &__item {
      justify-content: left;
      padding-left: 0;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }

  .nav__list {
    display: none;
  }

  .welcome {
    &__button {
      display: block;
      width: inherit;
      text-align: center;
    }
  }
}

@media (max-width: 444px) {
  .container {
    max-width: 300px;
  }
}